/*Base stylez*/
* {
	box-sizing: border-box;
}

body {
	font-family: 'Cairo', sans-serif;
	margin: 0;
	background: #f9f9f9;
}

img {
	max-width: 100%;
}

h1, h2, h3 {
	font-family: 'Anton', sans-serif;
}

h3 {
	font-weight: 500;
}

p {
	line-height: 1.5;
}

a {
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

/*helper classes*/

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	max-width: 1040px;
	margin: auto;
}


/*header*/
header {
	text-align: center;
	padding: 0 2.5%;
}

	.header-title {
		font-weight: 900;
		font-size: 2em;
	}

	.welcome {
		padding: 30px 2.5%;
		text-align: center;
	}

	nav ul {
		list-style: none;
		padding-left: 0;
	}

		header nav li {
			background: #fff;
		}

		header nav a {
			margin: 10px 0;
			padding: 10px;
			display: block;
		}

		header a:hover {
			color: #fff;
			background: black;
		}


/*Main content*/
.profolio, .contact {
	text-align: center;
}

.profolio {
	background: #fff;
	padding: 15px 2.5% 0;
}
	.profolio h2 {
		text-transform: uppercase;
	}

	.profolio .card {
		padding-bottom: 20px;
		max-width: 400px;
		margin: auto;
	}


/*footer*/
footer {
	padding: 2.5%;
}

	.footer-nav {
		display: none;
	}

	.contact {
	    padding-bottom: 30px;
	}

		.contact span {
			font-weight: 600;
			padding-left: 8px;
		}

	.copy {
		border-top: thin #cacaca solid;
		padding-top: 10px;
	}

		.top, .author, .footer-nav {
		    float: left;
		    width: 50%;
		    font-weight: 600;
		}

		.top {
			text-align: right;
		}


/*media queries*/
@media (min-width: 768px) {
	body {
		padding-top: 152px;
	}

	.container {
	    padding: 0 15px;
	}

	.header-title, nav li {
		display: inline-block;
	}

	/*header*/
	header {
		background: #fff;
	    box-shadow: 0 10px 13px -12px rgba(0,0,0, .8);
	    padding-bottom: 0;
	    position: fixed;
	    width: 100%;
	    top: 0;
	}

	nav ul li {
    	background: transparent;
	    margin: 0;
	}

		header nav a {
		    margin: 0;
		    padding: 15px 15px;
		}

	.welcome {
		text-align: left;
	}
	
		.welcome p {
			font-size: 1.1em;
		}
	
		.welcome img {
		    float: right;
		    margin-left: 20px;
		}

	.profolio .card {
		float: left;
		width: 50%;
		max-width: 100%;
    	padding: 1%;
    }
	
	    .profolio .card img {
			box-shadow: 0 15px 20px -12px rgba(0,0,0, .8);	
	    }
	
	    .profolio .card img:hover {
			transform: scale(1.05);	
	    }
	
	    .profolio .card:nth-of-type(2n +1) {
			clear: both;
		}
	
	/*footer*/
	.top {
		display: none;
	}
	
	nav.footer-nav {
		display: block;
		text-align: right;
	}
	
		nav.footer-nav ul {
		    margin: 0;
		}
	
		nav.footer-nav ul li {
		    padding: 0 15px;
		}
	
	.contact {
		max-width: 80%;
		margin: auto;
	}

}


@media (min-width: 1024px) {

	body {
		padding-top: 62px;
	}

	header {
		text-align: left;
	}
	
		header nav ul{
		    display: inline-block;
		    float: right;
		    margin: 0;
		}

		header nav a {
			display: block;
		}
	
	.welcome {
		padding: 30px 0;
	}

	.profolio .card {
		width: 33.3%;
    }
	
	    .profolio .card img:hover {
			transform: scale(1.1);	
	    }
	
	    .profolio .card:nth-of-type(2n +1) {
			clear: none;
		}
	
	    .profolio .card:nth-of-type(3n +1) {
			clear: both;
		}
	
	} 
